//======================================================
// Colours
//======================================================
$grey-darker: #9a9a9a;
$white: #ffffff;
$white-smoke: #f5f5f5;
$black: #383d3b;
$pink: #e8b2b0;

//======================================================
// Borders & Shadows
//======================================================
$half-pixel: 0.03125em;
$shadow-bar: 0.0625em 0.0625em 0.125em rgba(211, 211, 211, 0.3);
$half-pixel-bd: $half-pixel solid $white-smoke;
$box-shadow: 0 1px 2px rgba(92, 92, 92, 0.24);

//======================================================
// Fonts
//======================================================



:root {
    --yellow: #f8d24d;
    --pink: #ffc0bb;
    
    --neon-blue:#08f7fe;
    --neon-pink: #fe53bb;
    --neon-green:#09fbd3;
    --neon-yellow:#f5d300;

    --ferns-pink:#fdc7d7;
    --ferns-pink-dark: #ff9de6;
    --ferns-green:#a5d8f3;
    --ferns-yellow:#e8e500;

    --blue: #3c95cf;
    --black:#111;
    --red: #ff5546;
    --black: #1e1e1c;
    --aqua: #00FFFF;
    --cyan: #62b4b0;
    --teal: #2cb5a3;
    --pink: #f2a3c2; // Pink
    --mintgreen: #53bfb5; // Mint Green
    --black: #1e2022; // Black
    --skin: #f9cdad; // Skin
    --yellow: #fbffb9; // Yellow
    --brown: #79412d; // Brown
    --blue: #0288D1; // Blue
    --green: #009688; // Dark Blue/Green
}