$futura-pt: 'Futura PT';
$freight-big-pro: 'Freight Big Pro';
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.h1,
h1 {
  font-size: 3rem;
}
.h2,
h2 {
  font-size: 2rem;
}
.h3,
h3 {
  font-size: 1.75rem;
}
.h4,
h4 {
  font-size: 1.5rem;
}
.h5,
h5 {
  font-size: 1.25rem;
}
.h6,
h6 {
  font-size: 1rem;
}
i {
  display: inline-block;
}
.nano {
  font-size: 0.625rem;
}
.micro {
  font-size: 0.75rem;
}
.small {
  font-size: 0.875rem;
}
.regular {
  font-size: 1rem;
}
.large {
  font-size: 1.5rem;
}
.title {
  font-size:2rem;
}
.title-large {
  font-size: 3rem;
}
.extra-large {
  font-size: 4rem;
}
.giant {
  font-size: 8rem;
}
.weighting100{
  font-weight: 100;
}
.weighting400{
  font-weight: 400;
}
.weighting600{
  font-weight: 600;
}
.weighting700{
  font-weight: 700;
}
.italic{
  font-style: italic;
}