//======================================================
// Grids
//======================================================
.wrapper{
    @at-root #{&} {
        @include phone-small-bp{
            margin:0 6rem;
        }
        @include phone-large-bp {
            margin:0 9rem;
        }
        @include tablet-small-bp {
            margin: 0 16rem;
        }
        @include desktop-small-bp{
            margin:0 16rem;
        }
        @include desktop-medium-bp{
            margin:0 18rem;
        }
        @include desktop-large-bp{
            margin:0 24rem;
        }
    }
}
@include phone-small-bp{
    :root{
    --gap-value:2rem;
    --padding-value:2rem;
    }
}
@include phone-large-bp{
    :root{
    --gap-value:2rem;
    --padding-value:2rem;
    }
}
@include tablet-small-bp{
    :root{
        --gap-value:2rem;
        --padding-value:2rem;
    }
}
@include tablet-large-bp{
    :root{
        --gap-value:2rem;
        --padding-value:2rem;
    }
}
@include desktop-small-bp{
    :root{
        --gap-value:2rem;
        --padding-value:2rem;
    }
}
@include desktop-medium-bp{
    :root{
        --gap-value:2rem;
        --padding-value:2rem;
    }
}
@include desktop-large-bp{
    :root{
        --gap-value:2rem;
        --padding-value:2rem;
    }
}

.grid-col-12{
    display: grid;
    gap: var(--gap-value);
    padding: var(--padding-value);
    @at-root #{&}{
        @include phone-small-bp {
            grid-template-columns: 1fr;
        }
        @include phone-large-bp {
            grid-template-columns: repeat(12, 1fr);
            .grid-item-span-2{
                grid-column: span 2;
            }
            .grid-item-span-3{
                grid-column: span 3;
            }
            .grid-item-span-4{
                grid-column: span 4;
            }
            .grid-item-span-2-centre{
                grid-column: 2 / span 3;
            }
            .grid-item-span-2-offset{
                grid-column: 2 / span 2;
            }
            .grid-item-span-3-centre{
                grid-column: 3 / span 2;
            }
            .grid-item-span-3-offset{
                grid-column: 2 / span 3;
            }
            .grid-item-span-4-centre{
                grid-column: 2 / span 4;
            }
            .grid-item-span-4-offset{
                grid-column: 3 / span 4;
            }
            .grid-item-span-4-centre-solo{
                grid-column: 5 / span 4;
            }
            .grid-item-span-4-col-4-centre{
                grid-column: 4 / span 6;
            }
            .row-span-2{
                grid-row: 1 / span 2;
            }
            .row-span-3{
                grid-row: 1 / span 3;
            }
            .grid-item-span-5{
                grid-column: span 5;
            }
            .grid-item-span-5-centre-solo{
                grid-column: 4 / span 5;
            }
            .grid-item-span-5-centre{
                grid-column: 2 / span 5;
            }
            .grid-item-span-6{
                grid-column: span 6;
            }
            .grid-item-span-6-centre{
                grid-column: 4 / span 6;
            }
            .grid-item-span-7{
                grid-column: span 7;
            }
            .grid-item-span-8{
                grid-column: span 8;
            }
            .grid-item-span-8-centre{
                grid-column: 3 / span 8;
            }
            .grid-item-span-9{
                grid-column: span 9;
            }
            .grid-item-span-10{
                grid-column: span 10;
            }
            .grid-item-span-10-centre{
                grid-column: 3 / span 8;
            }
            .grid-item-span-11{
                grid-column: span 11;
            }
            .grid-item-span-12{
                grid-column: span 12;
            }
            .grid-align-center{
                align-self:center;
            }
            .grid-align-end{
                align-self:end;
            }
            .grid-align-start{
                align-self:start;
            }
        }
    }
}

.row {
    margin: 1em 1em 1em 1em;
}

.grid-col-3 {
    display: grid;
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.grid-col-3-item {
    justify-items: center;
    align-items: center;
}

.cssgrid-1col {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    justify-items: stretch;
    align-items: start;
}

.cssgrid-1col-centre {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: center;
    justify-items: stretch;
}

.cssgrid-1col-centre-baseline{
    @extend .cssgrid-1col-centre;
    justify-items: baseline;
}

.cssgrid-2col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    justify-items: stretch;
    align-items: start;
}

.cssgrid-2col-centre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: center;
    justify-items: stretch;
}

.cssgrid-2col-start {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: start;
    justify-items: stretch;
}

.cssgrid-2col-centre-reverse {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: center;
    justify-items: stretch;
}

.cssgrid-2col-left-large {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 4rem;
    grid-gap: 2rem;
    align-items: start;
    justify-items: stretch;
}

.cssgrid-2col-left-large-centre {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 4rem;
    grid-gap: 2rem;
    align-items: center;
    justify-items: stretch;
}

.cssgrid-2col-right-large {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 4rem;
    grid-gap: 2rem;
    align-items: stretch;
    justify-items: stretch;
}

.cssgrid-2col-right-large-centre {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 4rem;
    grid-gap: 2rem;
    align-items: center;
    justify-items: stretch;
}

.cssgrid-2col-left-large-centre {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 4rem;
    grid-gap: 2rem;
    align-items: center;
    justify-items: stretch;
}


.cssgrid-3col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: start;
    justify-items: stretch;
}


.cssgrid-3col-centre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: center;
    justify-items: stretch;
}

.cssgrid-4col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: start;
    justify-content: center;
}

.cssgrid-4col-centre {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: center;
    justify-items: stretch;
}

.cssgrid-5col {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: center;
    justify-content: center;
}

.cssgrid-5col-centre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: center;
    justify-items: stretch;
}

@media (max-width: 575px) {

    .cssgrid-1col,
    .cssgrid-2col,
    .cssgrid-3col,
    .cssgrid-4col,
    .cssgrid-5col {
        grid-template-columns: repeat(1fr);
    }
}

.wrapper{
    margin: 0 12rem;
    @at-root #{&} {
        @include phone-small-bp{
            margin:0 7.8rem 0 1.8rem;
        }
        @include phone-large-bp {
            margin:0 9rem 0 5rem;
        }
        @include tablet-small-bp {
            margin: 0 16rem 0 6rem;
        }
        @include desktop-small-bp{
            margin:0 16rem 0 7rem;
        }
        @include desktop-medium-bp{
            margin:0 18rem;
        }
        @include desktop-large-bp{  
            margin:0 24rem;
        }
    }
}
//======================================================
// Flex Utility Classes
//======================================================
.flex {
    display: flex;
}

.flex-left{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-centre-right {
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.flex-centre-left {
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.flex-centre-reverse {
    display: flex;
    align-items: center;
    justify-items:center;
    flex-direction: row-reverse;
}


.flex-col-3 {
    display: flex;
}

.flex-centre-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.flex-centre-col-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
}
