//======================================================
// Widths
//======================================================
.width10 {
    width: 10%;
}

.width15 {
    width: 15%;
}

.width20 {
    width: 20%;
}

.width25 {
    width: 25%;
}

.width30 {
    width: 30%;
}

.width33 {
    width: 33.3333%;
}

.width50 {
    width: 50%;
}

.width66 {
    width: 66.6666%;
}

.width70 {
    width: 70%;
}

.width75 {
    width: 75%;
}

.width80 {
    width: 80%;
}

.width100 {
    width: 100%;
}

.height100 {
    height: 100vh;
}

//======================================================
// Flex
//======================================================
.flex {
    display: flex;
}

.flex-left{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-centre-right {
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.flex-centre-left {
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.flex-centre-reverse {
    display: flex;
    align-items: center;
    justify-items:center;
    flex-direction: row-reverse;
}


.flex-col-3 {
    display: flex;
}

.flex-centre-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.flex-centre-col-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
}

//======================================================
// Grids
//======================================================
.row {
margin: 1em 1em 1em 1em;
}

.grid-col-3 {
    display: grid;
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.grid-col-3-item {
    justify-items: center;
    align-items: center;
}

.cssgrid-1col {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    justify-items: stretch;
    align-items: start;
}

.cssgrid-1col-centre {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: center;
    justify-items: stretch;
}

.cssgrid-1col-centre-baseline{
    @extend .cssgrid-1col-centre;
    justify-items: baseline;
}

.cssgrid-2col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    justify-items: stretch;
    align-items: start;
}

.cssgrid-2col-centre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: center;
    justify-items: stretch;
}

.cssgrid-2col-start {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: start;
    justify-items: stretch;
}

.cssgrid-2col-centre-reverse {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: center;
    justify-items: stretch;
}

.cssgrid-2col-left-large {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 4rem;
    grid-gap: 2rem;
    align-items: start;
    justify-items: stretch;
}

.cssgrid-2col-left-large-centre {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 4rem;
    grid-gap: 2rem;
    align-items: center;
    justify-items: stretch;
}

.cssgrid-2col-right-large {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 4rem;
    grid-gap: 2rem;
    align-items: stretch;
    justify-items: stretch;
}

.cssgrid-2col-right-large-centre {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 4rem;
    grid-gap: 2rem;
    align-items: center;
    justify-items: stretch;
}

.cssgrid-2col-left-large-centre {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 4rem;
    grid-gap: 2rem;
    align-items: center;
    justify-items: stretch;
}


.cssgrid-3col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: start;
    justify-items: stretch;
}


.cssgrid-3col-centre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: center;
    justify-items: stretch;
}

.cssgrid-4col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: start;
    justify-content: center;
}

.cssgrid-4col-centre {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: center;
    justify-items: stretch;
}

.cssgrid-5col {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: center;
    justify-content: center;
}

.cssgrid-5col-centre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-column-gap: 4rem;
    align-items: center;
    justify-items: stretch;
}

@media (max-width: 575px) {

    .cssgrid-1col,
    .cssgrid-2col,
    .cssgrid-3col,
    .cssgrid-4col,
    .cssgrid-5col {
        grid-template-columns: repeat(1fr);
    }
}
