
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/placeholders";
@import "vendors/bootstrap";
@import "vendors/jquery-ui";
@import "base/reset";
@import "base/fonts";
@import "base/colours";
@import "base/typography";
@import "layout/navigation";
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/forms";
@import "components/buttons";
@import "components/carousel";
@import "components/cover";
@import "components/dropdown";
@import "components/loading-animation";
@import "pages/home";
@import "pages/contact";
@import "pages/about";
@import "themes/theme";
@import "themes/admin";

.example {
    display: grid;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}

.cssnext {
  background: color(red alpha(-10%));
}

.testing {
  width: percentage(5/7);
}



body {
  font-family: $futura-pt;
  font-family:$freight-big-pro;
  font-weight: 100;
  background:var(--black);
  color: mistyrose;
  font-size: 16px;
  margin: 0;
}

h1, h3{
  font-weight: 100;
  color: hotpink;
  text-transform: uppercase;
}
.wrapper{
  width: 100%;
  max-width: 1296px;
  margin: 4em auto;
}

svg{
  width: 25%;
  height: auto;
}

.size-auto {
  width: 100%;
  height: auto;
}

.curser-pointer{
  cursor: pointer;
}
.avoid-clicks {
  pointer-events: none;
  user-select: none;
}

.curser-pointer {
  cursor: pointer;
}

.align-centre{
  text-align: center;
}
.relative {
  position: relative;
}

.break-word{
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

.video-responsive {
  width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: aqua;
  outline: none;
}

p{
  font-family: $futura-pt;
}
